.plansScreen__plan{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.7;
}

.plansScreen__plan:hover{
    opacity: 1;
}

.plansScreen__plan>button{
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e90514;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}